
<div class="container mx-auto mt-16 p-4">
    <h2 class="text-3xl font-bold mb-4">User Profile</h2>
        <!-- Edit Profile Button -->

    <!-- User Details (View Mode) -->
    <div *ngIf="!editMode" class="mb-8">
        <h3 class="text-xl font-semibold mb-2">User Information</h3>
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Clicked value:</strong> {{ user.clickedValue}}</p>
        <!-- Add more user details as needed -->

        <div class="flex flex-col">
            <button (click)="logout()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-4">
                Log out
            </button>
            <button (click)="deleteAccount()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-4">
                Delete account
            </button>
            <!-- Edit Profile Button -->
            <button (click)="toggleEditMode()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-4">
                Edit Profile
            </button>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" method="post" *ngIf="editMode">
        <h3 class="text-xl font-semibold mb-4">Edit Profile</h3>

        <div class="alert alert-{{ message.type }} text-yellow-400" *ngIf="message.text">
            {{ message.text }}
        </div>

        <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-100">Name</label>
            <input type="text" id="name" name="name" [placeholder]="user.name" [value]="user.name"formControlName="name" required
            class="mt-1 p-2 w-full border rounded-md text-gray-800" >
        </div>

        <div class="mb-4" [ngClass]="{'has-error': form.get('email')?.invalid && form.get('email')?.touched}">
            <label for="email" class="block text-sm font-medium text-gray-100">Email</label>
            <input type="email" id="email" name="email" [placeholder]="user.email" [value]="user.email" formControlName="email" required
            class="mt-1 p-2 w-full border rounded-md text-gray-800" >
        </div>

        <div class="mb-4" [ngClass]="{'has-error': form.get('password')?.invalid && form.get('password')?.touched}">
            <label for="password" class="block text-sm font-medium text-gray-100">Password</label>
            <input type="password" id="password" name="password" [placeholder]="user.password" [value]="user.password" formControlName="password" required
            class="mt-1 p-2 w-full border rounded-md text-gray-800" >
            <span class="form-help-text text-yellow-400"
                *ngIf="form.get('password').invalid && form.get('password').touched">
                <span *ngIf="form.get('password')['errors']['required']">
                    Пароль не может быть пустым.
                </span>
                <span *ngIf="form.get('password')['errors']['minlength'] &&
                    form.get('password')['errors']['minlength']['requiredLength']">
                    Пароль должен быть больше {{ form.get("password")["errors"]["minlength"]["requiredLength"] }}
                    символов. Сейчас {{ form.get("password")["errors"]["minlength"]["actualLength"] }}.
                </span>
            </span>
        </div>

        <div class="mb-4">
            <label for="clickedValue" class="block text-sm font-medium text-gray-100">Clicked value</label>
            <input type="clickedValue" id="clickedValue" name="clickedValue" [placeholder]="user.clickedValue" [value]="user.clickedValue" formControlName="clickedValue" required
            class="mt-1 p-2 w-full border rounded-md text-gray-800" >
        </div>
        
        <div class="flex justify-between">
            <button type="button" (click)="cancelEdit()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
                Cancel
            </button>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" [disabled]="form.invalid">
                Save Changes
            </button>
        </div>
    </form>
</div>