<!-- scoreboard.component.html -->

<div class="container mx-auto mt-16 p-4">
    <h2 class="text-3xl font-bold mb-4">Таблица результатов</h2>

    <!-- Scoreboard Table -->
    <div class="overflow-x-auto text-neutral-900">
        <table class="min-w-full bg-white border border-gray-300 shadow">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Место</th>
                    <th class="py-2 px-4 border-b">Игрок</th>
                    <th class="py-2 px-4 border-b">Счет</th>
                    <!-- Add more table headers as needed -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of users; index as i">
                    <td class="py-2 px-4 border-b">{{ i + 1 }}</td>
                    <td class="py-2 px-4 border-b">{{ player.name }}</td>
                    <td class="py-2 px-4 border-b">{{ player.clickedValue }}</td>
                    <!-- Add more table cells as needed -->
                </tr>
            </tbody>
        </table>
    </div>
</div>