<h2 class="text-3xl font-bold my-4 text-white text-center">Рады приветствовать в Evolution clicker!</h2>
<main class="container mx-auto mt-4 p-4" style="background-image: url('https://img.freepik.com/premium-photo/blue-chromosome-dna-and-gradually-glowing-flicker-light-matter-chemical-when-camera-moving-closeup-medical-and-heredity-genetic-health-concept-technology-science-3d-rendering-generate-ai_865659-1180.jpg?w=2000'); background-size: cover; background-position: center;">

    <div class="flex flex-col justify-center items-center mt-96">
        <p class="mt-40"></p>
        <p class="text-lg mb-4 text-white">Кликай, расти и эволюционируй.</p>
        <a href="/system/game" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-4 px-8 rounded-3xl text-xl mr-4">
            Играть Сейчас
        </a>
    </div>
</main>
